body {
  background-color: #00BCD4;
}

#bunny {
  position: relative;
  bottom: 0;

  width: 100%;
  height: 100%;
  min-height: 400px;

  background-image: url("images/grass.png");
  background-repeat: no-repeat;
  background-size: 100%, auto;
  background-position-y: bottom;

  img{
    position: absolute;
    bottom: 0;
    left: 10%;

    max-height: 80%;
    max-width: 50%;
  }
}

#task {
  position: absolute;
  top: 20%;
  left: 70%;

  height: 200px;
  width: 100px;

  font-size: 50px;
  color: white;

  #vars {
    position: relative;

    height: 200px;
    width: 100px;
    padding: 0;

    div {
      display: block;
    }
  }

  #var0, #var1, #var2 {
    position: relative;

    width: 100%;
    height: 50px;

    text-align: right;
  }

  #line {
    font-size:10px;
  }

  input {
    position: absolute;
    top: 0;
    right: -20px;

    display: flex;
    width: 120%;

    font-size: 50px;
    text-align: right;
  }

  #sign {
    position: absolute;
    top: 30px;

    width: 55px;
  }

  button {  
    position: absolute;
    top: 90%;
    left: -7%;

    width:128%;
    height: 40px;

    font-size: 24px;
  }
}


