body {
  background-color: #fbe22d;
  padding: 0;
}

#window {
  position: absolute;
  top: 0;
  left: 0;

  width: 960px;
  height: 750px;
  
  background-image: url("images/programmer.png");
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: bottom;
  background-size: 500px auto;
}

#cat{
  position: absolute;
  bottom: 5%;
  right: 0;

  height: 35%;

  transform: scale(-1, 1);
}

#steam{
  position: absolute;
  left: 35.5%;
  bottom: 34%;


  height: 10%;
  width: 100px;
  
  img {
    position: absolute;
    bottom: 0;

    height: 100%;

    animation: growth 1s linear infinite;
  }
}

@keyframes growth{
  0%{
    height: 0;
  }

  100%{
    height: 100%;
  }
}

#cloud {
  position: absolute;
  top:0;
  left: 450px;

  width: 300px;
  height: 330px;

  background-image: url("images/cloud.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#task {
  position: absolute;
  top: 10%;
  
  height: 100%;
  width: 100%;

  font-size: 40px;

  .container {
    position: absolute;

    div, img {
        display: inline-flex;
    }

    img {
      position: absolute;
      height: 50px;
    }
  }

  #container1 {
      top: 20%;
      left: 5%;
  }

  #container2 {
      top: 5%;
      left: 40%
  }
}

#panel {
  position: absolute;    
  right: 0;
  top: 0;

  
  width: 30%;
  height: 100%;

  border: 3px solid black;

  button {
    position: absolute;

    width: 100%;
    height: 50%;

    background-color: #ffa50085;
    
    border: 3px solid black;
    
    font-size: 50px; 
  }

  button:hover{
    background-color: #0000004f;
  }

  #yesButton {
      top: 0;
  }
  #noButton {
      bottom: 0;
  }
}

#score{
  position: fixed;  
  top: 20px;
  left: 20px;

  font-size: 50px;

  div {
    display: inline-flex;
  }

  #wrong {
    color: red;
  }
  #right {
    color: #4bc734;
  }
}

