body{
  background-color: #008ed452;;
}

#window{
  position: relative;
  bottom: 0;

  width: 100%;
  height: 100%;
  min-height: 400px;

  background-image: url("images/fence.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

#farmer{
  position: absolute;
  bottom: -25%;
  left: 100px;
  height: 100%;
}

#basket {
  position: absolute;
  bottom: -7%;
  right: 10%;

  height: 60%;
}

#butterflies {
  position: absolute;
  left: 30%;
  top: -5%;
  
  height: 60%;
}

#task{
  position: absolute;
  z-index: 5;
  top: 6%;
  left: 350px;

  width: 400px;
  height: 300px;
  padding-left: 50px;

  background-image: url("images/cloud.svg");
  background-size: contain;
  background-repeat: no-repeat;
  
  padding-left: 50px;
  font-size: 40px;

  div {
    position: relative;
    top: 30%;

    display: inline-flex;
    height: 50px;
    width: 15px;
  }

  input{
    position: absolute;
    bottom: -10%;
    
    width: 35px;

    font-size: 31px;
  }

  .wheat{
    margin-left: 20px;

    background-image: url("images/wheat.svg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .bracket{
    top: 28%
  }

  button{
    position: absolute;
    z-index: 5;
    top: 55%;
    left: 145px;

    width: 150px;

    font-size: 20px;
  }
}


#egg{
  position: absolute;
  top: 30px;
  left: 90px;

  height: 40px;
}

#score{
  position: absolute;
  left: 30px; 
  top: 30px;

  min-width: 50px;

  text-align: right;
  font-size: 40px;
}