#window {
  position: absolute;
  z-index: -1000;
  top: 0;
  left: 0;

  height: 70%;
  width: 100%;

  background-image: url("images/sea.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container{
  z-index: -100;
  position: absolute;
  bottom: 0;

  width: 500px;
  height: 100%;
  margin: 0;

  color: white;
  font-size: 50px;

  #scales {
    position: absolute;
    z-index: 20;
    bottom: 0;

    width: 100%;

    fill: #f59200;
    stroke: #746043;
  }

  #melon1, #melon2 {
    position: absolute;
    z-index: 10;
    bottom: 18%;

    width: 100%;
  }
  #melon1 {
    left: -30%;
  }
  #melon2 {
    right: -33.5%;
  }

  #var1, #var2 {
    position: absolute;
    z-index: 100;
    bottom: 200px;

    height: 50px;
    width: 50px;
  }
  #var1{
    left: 13%
  }
  #var2{
    right: 13%;
  }
}

.seagull{
  position: absolute;
  z-index: -10;
}

#seagull1{
  left: 10%;
  top: 10%;

  height: 50%;
}

#seagull2 {
  top: 20%;
  right: 10%;

  height: 100%;
}

#panel{
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-flex;
  height: 30%;
  width: 100%;

  background-color: #fbfcff;
  
  .btn{
    position: relative;
    bottom: 0;

    display: inline-flex;
    height: 100%;
    width: calc(100%/3);

    font-size: 50px;
    text-align: center;
    border: 1px solid #746043;

    p {
      position: absolute;
      top: 10%;
    }
  }

  .btn:hover {
    cursor: pointer;
    background-color: #f59200;
  }
}

#score{
  position: absolute;
  bottom: 0;
  left: 5%;

  font-size: 40px;

  div{
    display: inline-flex;
  }
  #right{
    color: limegreen;
  }
  #wrong{
    color: red;
  }
}