body {
  background-color: #92ea6ecf;
}

#window{
  position: fixed;
  z-index: -5;
  right: 200px;
  top: -100px;
  
  height: 512px;
  width: 400px;
  

  #outside {
    position: absolute;
    z-index: -100;
    bottom: -5%;

    object-fit: cover;
    height: 100%;
    width: 98%;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
    /* width: 100%; */
  }
  #frame {
    position: absolute;
    z-index: -5;

    width: 100%;

  }
}

#desk {
  position: absolute;
  z-index: -1;
  bottom: 0;

  height: 40%;
  height: 200px;
  width: 100%;

  border: 3px solid #0000001f;
  background-image: url("images/wood.jpg");
  background-size: cover;

  #cactus {
    position: absolute;
    bottom: 10%;
    left: -100px;
    width: 500px;
  }
}

#laptop {
  position: absolute;
  bottom: 2%;
  left: 20%;

  width: 660px;
  height: 512px;

  background-image: url("images/laptop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  
  #screen {
    position: absolute;
    left: 15%;
    top: 6.3%;

    height: 49.5%;
    width: 68.5%;
    
    background-color: blue;

    border: 3px solid black;

    > div {
      left: 0;
      width: 100%;
      border: 1px solid black;   
    }
  }
}

#program1 {
  position: relative;
  top:0;
      
  height: 70%;
    
  background-color: #58364e;
  color: white;
  border: 2px solid black;
  

  #code{
    width: 96%;
    height: 96%;
    margin: 2%;

    word-break: break-all;
    font-size: 20px;
  }
  
  #panel{
    position: absolute;
    left: -1px;
    bottom: 0;
    
    padding: 5px;
    width: 101%;

    font-size: 15px;
    color: #d9d9d9;
    
    background-color: #00000047;
    border: 1px solid #0000004d;
    
    div{
      display: inline-flex; 
    }
  }
}

#program2{
  position: relative;
  bottom: 0;

  height: 30%;

  background-color: #e5e5e5;

  font-size: 40px;
    
  button{
      position: absolute;
      right: 25%;
      height: 40px;
      top: 23%
  }

  div {
    position: absolute;
    left: 25%;
    top: 18%;
  }

  input {
    height: 40px;
    width: 60px;

    font-size: 40px;
  }
}

#score {
  position: fixed;
  top: 20px;
  left: 20px; 

  font-size: 50px;
    
  div{
      display: inline-flex;
  }

  #wrong {
      color: red;
  }
  #right {
      color: #4bc734;
  }
}

