body{
  background-color: #85ff6e;
}

#top{
  position: relative;
  top: 0;

  width: 100%;
  height: 15%;    
}

#map{
  position: relative;
  top: 0;
  left: 0;

  width: 1370px;
  height: 420px;

  background-image: url("images/road.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;

  .house {
    position: fixed;
    z-index: 1;
    left: 549px;
    top: 497px;
  }

  #houseCursor{
    z-index: 3;
    position: fixed;
    left: 100%;
    top: 100%;
  }
}

.car {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
}

#panel{
  position: relative;
  bottom: 0;
  left: 0;

  display: inline-flex;
  height: 25%;
  width: 100%;

  .btn { 
    position: relative;
    bottom: 0;

    display: inline-flex;
    height: 100%;
    width: calc(100%/3);

    background-color: #74436e85;
    border: 5px solid #3e3e3d;
   
    font-size: 50px;
    color: white;

    p {
      position: absolute;
      top: -10%;
    }
  }

  .btn:hover {
    cursor:pointer;
    color: black;
    background-color: #e2e4e0;
  }
}

#task{
  
  position: absolute;
  z-index: 10;
  top: 5%;

  font-size: 40px;
  color: #514949;

  div{
    display: inline-flex;
  }

  .measure{
    font-size: 30px;
    color: #464d3a;
  }

  #question{
    font-size: 70px; 
    color: #c51752;
  }
}